<div class="chat-top">
  <div class="current-room">
    <%= @room.name %>
  </div>
    <div class="destroy-chat">
      <%= link_to "チャットを終了する",room_path(@room),method: :delete %>
    </div>
</div>
<div class="chat-middle">
  <div class="messages">
    <%= render partial:"message",collection:@messages %>
  </div>
</div>

<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
  <div class="form-input">
    <%= f.text_field :content,placeholder:"type a message", class:"send-message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class:"hidden" %>
    </label>
    <%= f.submit "SEND", class:"send"%>
  </div>
<%end%>
<div class="chat-bottom">
  
</div>